<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">À propos</h2>
        <p class="text">{{ site.description }}</p>
        <ul class="social-media-list">
          <li>
            <a href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
          </li>
          <li>
            <a href="tel:{{ site.phone }}">
              {{ site.phone }}
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Agences</h2>
        <ul>
          <li>
            679, avenue de la République 59800, Lille
          </li>
          <li>
            165, avenue de Bretagne, 59000, Lille
          </li>
          <li>
            55, rue La Boëtie, 75008, Paris
          </li>
          <li>
            1, rue des Pénitents Blancs 31000, Toulouse
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">Partenaires</h2>
        ... mettre des logos ici ...
      </div>
    </div>
  </div>
</footer>
